CREATE TABLE IF NOT EXISTS driver_vehicles ( id UUID PRIMARY KEY DEFAULT gen_random_uuid(), driver_id UUID REFERENCES drivers(id) ON DELETE CASCADE NOT NULL, vehicle_type TEXT NOT NULL, vehicle_name TEXT NOT NULL, plate_number TEXT NOT NULL, vehicle_stnk TEXT, status TEXT DEFAULT 'pending' CHECK (status IN ('pending', 'approved', 'rejected')), is_active BOOLEAN DEFAULT false, admin_notes TEXT, created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL );
